In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from numpy import nan
from sklearn import preprocessing

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [3]:
data= pd.read_csv("/Users/swatilathwal/Downloads/Data-Collisions.csv")

/Users/pujasonawane/Library/Python/3.7/lib/python/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.shape

(194673, 38)

In [5]:
data.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [6]:
data["SEVERITYCODE"].unique()

array([2, 1])

In [7]:
data.drop('X',axis=1,inplace=True)

In [8]:
data.drop('Y',axis=1, inplace=True)

In [9]:
data.head()

,SEVERITYCODE,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,1,1307,1307,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,2,52200,52200,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,3,26700,26700,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,4,1144,1144,3503937,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,5,17700,17700,1807429,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,NaN,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [10]:
data.isnull().any()

SEVERITYCODE      False
OBJECTID          False
INCKEY            False
COLDETKEY         False
REPORTNO          False
STATUS            False
ADDRTYPE           True
INTKEY             True
LOCATION           True
EXCEPTRSNCODE      True
EXCEPTRSNDESC      True
SEVERITYCODE.1    False
SEVERITYDESC      False
COLLISIONTYPE      True
PERSONCOUNT       False
PEDCOUNT          False
PEDCYLCOUNT       False
VEHCOUNT          False
INCDATE           False
INCDTTM           False
JUNCTIONTYPE       True
SDOT_COLCODE      False
SDOT_COLDESC      False
INATTENTIONIND     True
UNDERINFL          True
WEATHER            True
ROADCOND           True
LIGHTCOND          True
PEDROWNOTGRNT      True
SDOTCOLNUM         True
SPEEDING           True
ST_COLCODE         True
ST_COLDESC         True
SEGLANEKEY        False
CROSSWALKKEY      False
HITPARKEDCAR      False
dtype: bool

In [11]:
data.isnull().sum()

SEVERITYCODE           0
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     109862
EXCEPTRSNDESC     189035
SEVERITYCODE.1         0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE            18
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [12]:
data.drop(['PEDROWNOTGRNT', 'SPEEDING', 'EXCEPTRSNDESC', 'INATTENTIONIND'], axis=1, inplace= True)

In [13]:
data.head()

,SEVERITYCODE,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,...,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SDOTCOLNUM,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,1,1307,1307,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,,...,N,Overcast,Wet,Daylight,NaN,10,Entering at angle,0,0,N
1,1,2,52200,52200,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,NaN,...,0,Raining,Wet,Dark - Street Lights On,6354039.0,11,From same direction - both going straight - bo...,0,0,N
2,1,3,26700,26700,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,NaN,...,0,Overcast,Dry,Daylight,4323031.0,32,One parked--one moving,0,0,N
3,1,4,1144,1144,3503937,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,,...,N,Clear,Dry,Daylight,NaN,23,From same direction - all others,0,0,N
4,2,5,17700,17700,1807429,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,NaN,...,0,Raining,Wet,Daylight,4028032.0,10,Entering at angle,0,0,N

In [14]:
data.isnull().sum()

SEVERITYCODE           0
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     109862
SEVERITYCODE.1         0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
SDOTCOLNUM         79737
ST_COLCODE            18
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [15]:
data['ROADCOND'].mode()

0    Dry
dtype: object

In [16]:
data.drop(['EXCEPTRSNCODE','LOCATION','SDOTCOLNUM'],axis=1, inplace= True)

In [17]:
data.isnull().any()

SEVERITYCODE      False
OBJECTID          False
INCKEY            False
COLDETKEY         False
REPORTNO          False
STATUS            False
ADDRTYPE           True
INTKEY             True
SEVERITYCODE.1    False
SEVERITYDESC      False
COLLISIONTYPE      True
PERSONCOUNT       False
PEDCOUNT          False
PEDCYLCOUNT       False
VEHCOUNT          False
INCDATE           False
INCDTTM           False
JUNCTIONTYPE       True
SDOT_COLCODE      False
SDOT_COLDESC      False
UNDERINFL          True
WEATHER            True
ROADCOND           True
LIGHTCOND          True
ST_COLCODE         True
ST_COLDESC         True
SEGLANEKEY        False
CROSSWALKKEY      False
HITPARKEDCAR      False
dtype: bool

### imputing missing value

In [19]:
data['INTKEY'].fillna(data['INTKEY'].mean(), inplace=True)

In [20]:
data['COLLISIONTYPE'].fillna(data['COLLISIONTYPE'].mode()[0], inplace=True)

In [21]:
data['JUNCTIONTYPE'].fillna(data['JUNCTIONTYPE'].mode()[0], inplace=True)

In [22]:
data['UNDERINFL'].fillna(data['UNDERINFL'].mode()[0], inplace=True)

In [23]:
data['ROADCOND'].fillna(data['ROADCOND'].mode()[0], inplace=True)

In [24]:
data['LIGHTCOND'].fillna(data['LIGHTCOND'].mode()[0], inplace=True)

In [25]:
data['ST_COLCODE'].fillna(data['ST_COLCODE'].mode()[0], inplace=True)

In [26]:
data['ST_COLDESC'].fillna(data['ST_COLDESC'].mode()[0], inplace=True)

In [27]:
data['ADDRTYPE'].fillna(data['ADDRTYPE'].mode()[0], inplace=True)

In [28]:
data['WEATHER'].fillna(data['WEATHER'].mode()[0], inplace=True)

In [29]:
data.isnull().any()

SEVERITYCODE      False
OBJECTID          False
INCKEY            False
COLDETKEY         False
REPORTNO          False
STATUS            False
ADDRTYPE          False
INTKEY            False
SEVERITYCODE.1    False
SEVERITYDESC      False
COLLISIONTYPE     False
PERSONCOUNT       False
PEDCOUNT          False
PEDCYLCOUNT       False
VEHCOUNT          False
INCDATE           False
INCDTTM           False
JUNCTIONTYPE      False
SDOT_COLCODE      False
SDOT_COLDESC      False
UNDERINFL         False
WEATHER           False
ROADCOND          False
LIGHTCOND         False
ST_COLCODE        False
ST_COLDESC        False
SEGLANEKEY        False
CROSSWALKKEY      False
HITPARKEDCAR      False
dtype: bool

In [30]:
data.columns

Index(['SEVERITYCODE', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS',
       'ADDRTYPE', 'INTKEY', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC', 'UNDERINFL',
       'WEATHER', 'ROADCOND', 'LIGHTCOND', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [31]:
data.corrwith(data["SEVERITYCODE"])

SEVERITYCODE      1.000000
OBJECTID          0.020131
INCKEY            0.022065
COLDETKEY         0.022079
INTKEY            0.004094
SEVERITYCODE.1    1.000000
PERSONCOUNT       0.130949
PEDCOUNT          0.246338
PEDCYLCOUNT       0.214218
VEHCOUNT         -0.054686
SDOT_COLCODE      0.188905
SEGLANEKEY        0.104276
CROSSWALKKEY      0.175093
dtype: float64

### data transformation and categorical to numerical

In [33]:
data.head()

,SEVERITYCODE,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,SEVERITYCODE.1,SEVERITYDESC,...,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,1,1307,1307,3502005,Matched,Intersection,37475.000000,2,Injury Collision,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Overcast,Wet,Daylight,10,Entering at angle,0,0,N
1,1,2,52200,52200,2607959,Matched,Block,37558.450576,1,Property Damage Only Collision,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",0,Raining,Wet,Dark - Street Lights On,11,From same direction - both going straight - bo...,0,0,N
2,1,3,26700,26700,1482393,Matched,Block,37558.450576,1,Property Damage Only Collision,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",0,Overcast,Dry,Daylight,32,One parked--one moving,0,0,N
3,1,4,1144,1144,3503937,Matched,Block,37558.450576,1,Property Damage Only Collision,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Clear,Dry,Daylight,23,From same direction - all others,0,0,N
4,2,5,17700,17700,1807429,Matched,Intersection,34387.000000,2,Injury Collision,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",0,Raining,Wet,Daylight,10,Entering at angle,0,0,N

In [34]:
data['INCDATE'] = pd.to_datetime(data['INCDATE'])
data['INCDTTM'] = pd.to_datetime(data['INCDTTM'])

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 29 columns):
SEVERITYCODE      194673 non-null int64
OBJECTID          194673 non-null int64
INCKEY            194673 non-null int64
COLDETKEY         194673 non-null int64
REPORTNO          194673 non-null object
STATUS            194673 non-null object
ADDRTYPE          194673 non-null object
INTKEY            194673 non-null float64
SEVERITYCODE.1    194673 non-null int64
SEVERITYDESC      194673 non-null object
COLLISIONTYPE     194673 non-null object
PERSONCOUNT       194673 non-null int64
PEDCOUNT          194673 non-null int64
PEDCYLCOUNT       194673 non-null int64
VEHCOUNT          194673 non-null int64
INCDATE           194673 non-null datetime64[ns, UTC]
INCDTTM           194673 non-null datetime64[ns]
JUNCTIONTYPE      194673 non-null object
SDOT_COLCODE      194673 non-null int64
SDOT_COLDESC      194673 non-null object
UNDERINFL         194673 non-null object
WEATHER           194673 non-null object
ROADCOND          194673 non-null object
LIGHTCOND         194673 non-null object
ST_COLCODE        194673 non-null object
ST_COLDESC        194673 non-null object
SEGLANEKEY        194673 non-null int64
CROSSWALKKEY      194673 non-null int64
HITPARKEDCAR      194673 non-null object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(1), int64(12), object(14)
memory usage: 43.1+ MB

In [36]:
data['INCDTTM']

0        2013-03-27 14:54:00
1        2006-12-20 18:55:00
2        2004-11-18 10:20:00
3        2013-03-29 09:26:00
4        2004-01-28 08:04:00
                 ...
194668   2018-11-12 08:12:00
194669   2018-12-18 09:14:00
194670   2019-01-19 09:25:00
194671   2019-01-15 16:48:00
194672   2018-11-30 15:45:00
Name: INCDTTM, Length: 194673, dtype: datetime64[ns]

In [37]:
categorical_cols=['STATUS','ADDRTYPE','SEVERITYDESC','COLLISIONTYPE','JUNCTIONTYPE',
                       'SDOT_COLDESC','UNDERINFL','WEATHER','ROADCOND','LIGHTCOND',
                       'ST_COLCODE','ST_COLDESC','HITPARKEDCAR']

In [38]:
for i in range(len(categorical_cols)):
    z= categorical_cols[i]
    data[z]= data[z].astype('category')

In [39]:
cat_columns = data.select_dtypes(['category']).columns
cat_columns
data[cat_columns] = data[cat_columns].apply(lambda x: x.cat.codes)

In [40]:
data.head()

,SEVERITYCODE,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,SEVERITYCODE.1,SEVERITYDESC,...,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,1,1307,1307,3502005,0,2,37475.000000,2,0,...,14,2,4,8,5,55,4,0,0,0
1,1,2,52200,52200,2607959,0,1,37558.450576,1,1,...,16,0,6,8,2,56,16,0,0,0
2,1,3,26700,26700,1482393,0,1,37558.450576,1,1,...,17,0,4,0,5,79,27,0,0,0
3,1,4,1144,1144,3503937,0,1,37558.450576,1,1,...,14,2,1,0,5,69,14,0,0,0
4,2,5,17700,17700,1807429,0,2,34387.000000,2,0,...,14,0,6,8,5,55,4,0,0,0

In [41]:
data.drop(['REPORTNO'],axis=1, inplace= True)

In [42]:
data.drop(['INCDATE'],axis=1, inplace= True)
data.drop(['INCDTTM'],axis=1, inplace= True)

In [43]:
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [44]:
data_X =data.loc[:, data.columns != 'SEVERITYCODE']

In [45]:
data_X.head()

,OBJECTID,INCKEY,COLDETKEY,STATUS,ADDRTYPE,INTKEY,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,...,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,1,1307,1307,0,2,37475.000000,2,0,0,2,...,14,2,4,8,5,55,4,0,0,0
1,2,52200,52200,0,1,37558.450576,1,1,9,2,...,16,0,6,8,2,56,16,0,0,0
2,3,26700,26700,0,1,37558.450576,1,1,5,4,...,17,0,4,0,5,79,27,0,0,0
3,4,1144,1144,0,1,37558.450576,1,1,4,3,...,14,2,1,0,5,69,14,0,0,0
4,5,17700,17700,0,2,34387.000000,2,0,0,2,...,14,0,6,8,5,55,4,0,0,0

In [46]:
data_y= data['SEVERITYCODE']

In [47]:
data_y.head()

0    2
1    1
2    1
3    1
4    2
Name: SEVERITYCODE, dtype: int64

In [48]:
data_X = preprocessing.scale(data_X)

In [49]:
data_y[0:5]

0    2
1    1
2    1
3    1
4    2
Name: SEVERITYCODE, dtype: int64

## Train Test Split

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( data_X,data_y, test_size=0.3, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (136271, 25) (136271,)
Test set: (58402, 25) (58402,)

## Regression

In [51]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [52]:
from sklearn.metrics import accuracy_score

In [53]:
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [54]:
yhat = LR.predict(X_test)

In [57]:
yhat_prob = LR.predict_proba(X_test)
yhat_prob

array([[0.00214195, 0.99785805],
       [0.99676402, 0.00323598],
       [0.99787399, 0.00212601],
       ...,
       [0.00147973, 0.99852027],
       [0.99746255, 0.00253745],
       [0.99733   , 0.00267   ]])

In [56]:
LR_score=accuracy_score(y_test, yhat)

In [58]:
LR_score

1.0

In [59]:
print(yhat, y_test)

[2 1 1 ... 2 1 1] 181980    2
163332    1
180525    1
1695      2
143631    2
         ..
9114      1
126448    1
99140     2
35293     1
163108    1
Name: SEVERITYCODE, Length: 58402, dtype: int64

## Decision Trees

In [60]:
from sklearn.tree import DecisionTreeClassifier

In [61]:
dtree = DecisionTreeClassifier(criterion="entropy")
dtree

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [62]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [63]:
predTree = dtree.predict(X_test)

In [66]:
DT_score= accuracy_score(y_test, predTree)

In [67]:
DT_score

1.0

## Nural Network

In [68]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [69]:
model = Sequential()
model.add(Dense(12, input_dim=25, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [70]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [71]:
model.fit(X_train, y_train, epochs=150, batch_size=200)

Epoch 1/150
682/682 [==============================] - 1s 747us/step - loss: -47.6830 - accuracy: 0.6811
Epoch 2/150
682/682 [==============================] - 0s 727us/step - loss: -950.3379 - accuracy: 0.7001
Epoch 3/150
682/682 [==============================] - 0s 717us/step - loss: -3958.8450 - accuracy: 0.7001
Epoch 4/150
682/682 [==============================] - 0s 725us/step - loss: -9702.1191 - accuracy: 0.7001
Epoch 5/150
682/682 [==============================] - 0s 723us/step - loss: -18526.9668 - accuracy: 0.7001
Epoch 6/150
682/682 [==============================] - 0s 724us/step - loss: -30718.6797 - accuracy: 0.7001
Epoch 7/150
682/682 [==============================] - 1s 737us/step - loss: -46513.5938 - accuracy: 0.7001
Epoch 8/150
682/682 [==============================] - 0s 729us/step - loss: -66209.4609 - accuracy: 0.7001
Epoch 9/150
682/682 [==============================] - 0s 732us/step - loss: -90058.7422 - accuracy: 0.7001
Epoch 10/150
682/682 [==============================] - 0s 725us/step - loss: -118302.6797 - accuracy: 0.7001
Epoch 11/150
682/682 [==============================] - 1s 745us/step - loss: -151235.5469 - accuracy: 0.7001
Epoch 12/150
682/682 [==============================] - 0s 725us/step - loss: -189092.9062 - accuracy: 0.7001
Epoch 13/150
682/682 [==============================] - 1s 746us/step - loss: -232189.4688 - accuracy: 0.7001
Epoch 14/150
682/682 [==============================] - 1s 740us/step - loss: -280740.0312 - accuracy: 0.7001
Epoch 15/150
682/682 [==============================] - 1s 734us/step - loss: -334877.7812 - accuracy: 0.7001
Epoch 16/150
682/682 [==============================] - 1s 749us/step - loss: -394955.5000 - accuracy: 0.7001
Epoch 17/150
682/682 [==============================] - 1s 742us/step - loss: -461332.2188 - accuracy: 0.7001
Epoch 18/150
682/682 [==============================] - 1s 742us/step - loss: -534156.5000 - accuracy: 0.7001
Epoch 19/150
682/682 [==============================] - 1s 750us/step - loss: -613684.3750 - accuracy: 0.7001
Epoch 20/150
682/682 [==============================] - 1s 739us/step - loss: -700290.0000 - accuracy: 0.7001
Epoch 21/150
682/682 [==============================] - 1s 746us/step - loss: -794215.8750 - accuracy: 0.7001
Epoch 22/150
682/682 [==============================] - 1s 748us/step - loss: -895724.8125 - accuracy: 0.7001
Epoch 23/150
682/682 [==============================] - 1s 738us/step - loss: -1004884.0000 - accuracy: 0.7001
Epoch 24/150
682/682 [==============================] - 1s 762us/step - loss: -1121958.0000 - accuracy: 0.7001
Epoch 25/150
682/682 [==============================] - 1s 736us/step - loss: -1247479.3750 - accuracy: 0.7001
Epoch 26/150
682/682 [==============================] - 1s 751us/step - loss: -1381382.7500 - accuracy: 0.7001
Epoch 27/150
682/682 [==============================] - 0s 733us/step - loss: -1524235.1250 - accuracy: 0.7001
Epoch 28/150
682/682 [==============================] - 0s 732us/step - loss: -1676190.6250 - accuracy: 0.7001
Epoch 29/150
682/682 [==============================] - 1s 745us/step - loss: -1837541.5000 - accuracy: 0.7001
Epoch 30/150
682/682 [==============================] - 1s 740us/step - loss: -2008435.3750 - accuracy: 0.7001
Epoch 31/150
682/682 [==============================] - 1s 746us/step - loss: -2189111.0000 - accuracy: 0.7001
Epoch 32/150
682/682 [==============================] - 1s 734us/step - loss: -2379887.0000 - accuracy: 0.7001
Epoch 33/150
682/682 [==============================] - 1s 742us/step - loss: -2581034.7500 - accuracy: 0.7001
Epoch 34/150
682/682 [==============================] - 1s 750us/step - loss: -2792852.5000 - accuracy: 0.7001
Epoch 35/150
682/682 [==============================] - 1s 742us/step - loss: -3015519.0000 - accuracy: 0.7001
Epoch 36/150
682/682 [==============================] - 1s 749us/step - loss: -3249349.0000 - accuracy: 0.7001
Epoch 37/150
682/682 [==============================] - 1s 738us/step - loss: -3494685.5000 - accuracy: 0.7001
Epoch 38/150
682/682 [==============================] - 1s 736us/step - loss: -3751594.5000 - accuracy: 0.7001
Epoch 39/150
682/682 [==============================] - 0s 730us/step - loss: -4020090.5000 - accuracy: 0.7001
Epoch 40/150
682/682 [==============================] - 0s 731us/step - loss: -4300690.0000 - accuracy: 0.7001
Epoch 41/150
682/682 [==============================] - 1s 734us/step - loss: -4593383.5000 - accuracy: 0.7001
Epoch 42/150
682/682 [==============================] - 1s 752us/step - loss: -4898792.0000 - accuracy: 0.7001
Epoch 43/150
682/682 [==============================] - 0s 728us/step - loss: -5217319.5000 - accuracy: 0.7001
Epoch 44/150
682/682 [==============================] - 0s 726us/step - loss: -5548960.5000 - accuracy: 0.7001
Epoch 45/150
682/682 [==============================] - 0s 732us/step - loss: -5893562.0000 - accuracy: 0.7001
Epoch 46/150
682/682 [==============================] - 1s 746us/step - loss: -6252135.5000 - accuracy: 0.7001
Epoch 47/150
682/682 [==============================] - 1s 745us/step - loss: -6624488.0000 - accuracy: 0.7001
Epoch 48/150
682/682 [==============================] - 1s 749us/step - loss: -7011189.0000 - accuracy: 0.7001
Epoch 49/150
682/682 [==============================] - 1s 752us/step - loss: -7411852.5000 - accuracy: 0.7001
Epoch 50/150
682/682 [==============================] - 1s 735us/step - loss: -7826090.5000 - accuracy: 0.7001
Epoch 51/150
682/682 [==============================] - 1s 739us/step - loss: -8255879.5000 - accuracy: 0.7001
Epoch 52/150
682/682 [==============================] - 1s 756us/step - loss: -8700717.0000 - accuracy: 0.7001
Epoch 53/150
682/682 [==============================] - 1s 745us/step - loss: -9160633.0000 - accuracy: 0.7001
Epoch 54/150
682/682 [==============================] - 0s 725us/step - loss: -9636157.0000 - accuracy: 0.7001
Epoch 55/150
682/682 [==============================] - 1s 747us/step - loss: -10127978.0000 - accuracy: 0.7001
Epoch 56/150
682/682 [==============================] - 1s 743us/step - loss: -10635966.0000 - accuracy: 0.7001
Epoch 57/150
682/682 [==============================] - 1s 741us/step - loss: -11159989.0000 - accuracy: 0.7001
Epoch 58/150
682/682 [==============================] - 1s 733us/step - loss: -11700666.0000 - accuracy: 0.7001
Epoch 59/150
682/682 [==============================] - 0s 729us/step - loss: -12257719.0000 - accuracy: 0.7001
Epoch 60/150
682/682 [==============================] - 1s 743us/step - loss: -12831998.0000 - accuracy: 0.7001
Epoch 61/150
682/682 [==============================] - 0s 723us/step - loss: -13423638.0000 - accuracy: 0.7001
Epoch 62/150
682/682 [==============================] - 1s 741us/step - loss: -14032177.0000 - accuracy: 0.7001
Epoch 63/150
682/682 [==============================] - 1s 735us/step - loss: -14658720.0000 - accuracy: 0.7001
Epoch 64/150
682/682 [==============================] - 1s 753us/step - loss: -15304161.0000 - accuracy: 0.7001
Epoch 65/150
682/682 [==============================] - 1s 743us/step - loss: -15968111.0000 - accuracy: 0.7001
Epoch 66/150
682/682 [==============================] - 1s 762us/step - loss: -16649231.0000 - accuracy: 0.7001
Epoch 67/150
682/682 [==============================] - 1s 744us/step - loss: -17348980.0000 - accuracy: 0.7001
Epoch 68/150
682/682 [==============================] - 1s 741us/step - loss: -18066926.0000 - accuracy: 0.7001
Epoch 69/150
682/682 [==============================] - 1s 741us/step - loss: -18805198.0000 - accuracy: 0.7001
Epoch 70/150
682/682 [==============================] - 1s 753us/step - loss: -19562804.0000 - accuracy: 0.7001
Epoch 71/150
682/682 [==============================] - 1s 745us/step - loss: -20339682.0000 - accuracy: 0.7001
Epoch 72/150
682/682 [==============================] - 1s 750us/step - loss: -21136828.0000 - accuracy: 0.7001
Epoch 73/150
682/682 [==============================] - 1s 735us/step - loss: -21954216.0000 - accuracy: 0.7001
Epoch 74/150
682/682 [==============================] - 1s 747us/step - loss: -22790862.0000 - accuracy: 0.7001
Epoch 75/150
682/682 [==============================] - 1s 739us/step - loss: -23649818.0000 - accuracy: 0.7001
Epoch 76/150
682/682 [==============================] - 1s 733us/step - loss: -24529936.0000 - accuracy: 0.7001
Epoch 77/150
682/682 [==============================] - 0s 722us/step - loss: -25430340.0000 - accuracy: 0.7001
Epoch 78/150
682/682 [==============================] - 0s 726us/step - loss: -26352696.0000 - accuracy: 0.7001
Epoch 79/150
682/682 [==============================] - 0s 730us/step - loss: -27296724.0000 - accuracy: 0.7001
Epoch 80/150
682/682 [==============================] - 1s 741us/step - loss: -28262792.0000 - accuracy: 0.7001
Epoch 81/150
682/682 [==============================] - 0s 725us/step - loss: -29250276.0000 - accuracy: 0.7001
Epoch 82/150
682/682 [==============================] - 1s 746us/step - loss: -30261582.0000 - accuracy: 0.7001
Epoch 83/150
682/682 [==============================] - 0s 725us/step - loss: -31296042.0000 - accuracy: 0.7001
Epoch 84/150
682/682 [==============================] - 1s 742us/step - loss: -32352776.0000 - accuracy: 0.7001
Epoch 85/150
682/682 [==============================] - 0s 729us/step - loss: -33431454.0000 - accuracy: 0.7001
Epoch 86/150
682/682 [==============================] - 1s 736us/step - loss: -34533708.0000 - accuracy: 0.7001
Epoch 87/150
682/682 [==============================] - 0s 730us/step - loss: -35660292.0000 - accuracy: 0.7001
Epoch 88/150
682/682 [==============================] - 1s 748us/step - loss: -36809828.0000 - accuracy: 0.7001
Epoch 89/150
682/682 [==============================] - 1s 740us/step - loss: -37983140.0000 - accuracy: 0.7001
Epoch 90/150
682/682 [==============================] - 1s 736us/step - loss: -39179624.0000 - accuracy: 0.7001
Epoch 91/150
682/682 [==============================] - 1s 733us/step - loss: -40401844.0000 - accuracy: 0.7001
Epoch 92/150
682/682 [==============================] - 1s 735us/step - loss: -41650324.0000 - accuracy: 0.7001
Epoch 93/150
682/682 [==============================] - 1s 736us/step - loss: -42923572.0000 - accuracy: 0.7001
Epoch 94/150
682/682 [==============================] - 1s 736us/step - loss: -44221320.0000 - accuracy: 0.7001
Epoch 95/150
682/682 [==============================] - 1s 740us/step - loss: -45544880.0000 - accuracy: 0.7001
Epoch 96/150
682/682 [==============================] - 1s 735us/step - loss: -46894160.0000 - accuracy: 0.7001
Epoch 97/150
682/682 [==============================] - 1s 742us/step - loss: -48267924.0000 - accuracy: 0.7001
Epoch 98/150
682/682 [==============================] - 1s 751us/step - loss: -49668932.0000 - accuracy: 0.7001
Epoch 99/150
682/682 [==============================] - 1s 745us/step - loss: -51099440.0000 - accuracy: 0.7001
Epoch 100/150
682/682 [==============================] - 1s 736us/step - loss: -52554120.0000 - accuracy: 0.7001
Epoch 101/150
682/682 [==============================] - 1s 743us/step - loss: -54036820.0000 - accuracy: 0.70010s - loss: -54064060.0000 - accuracy: 0.
Epoch 102/150
682/682 [==============================] - 1s 741us/step - loss: -55546128.0000 - accuracy: 0.7001
Epoch 103/150
682/682 [==============================] - 1s 743us/step - loss: -57082384.0000 - accuracy: 0.7001
Epoch 104/150
682/682 [==============================] - 1s 736us/step - loss: -58645960.0000 - accuracy: 0.7001
Epoch 105/150
682/682 [==============================] - 1s 737us/step - loss: -60238096.0000 - accuracy: 0.7001
Epoch 106/150
682/682 [==============================] - 1s 737us/step - loss: -61858528.0000 - accuracy: 0.7001
Epoch 107/150
682/682 [==============================] - 1s 739us/step - loss: -63507560.0000 - accuracy: 0.7001
Epoch 108/150
682/682 [==============================] - 1s 735us/step - loss: -65184952.0000 - accuracy: 0.7001
Epoch 109/150
682/682 [==============================] - 1s 760us/step - loss: -66890240.0000 - accuracy: 0.7001
Epoch 110/150
682/682 [==============================] - 1s 739us/step - loss: -68624704.0000 - accuracy: 0.7001
Epoch 111/150
682/682 [==============================] - 0s 730us/step - loss: -70388016.0000 - accuracy: 0.7001
Epoch 112/150
682/682 [==============================] - 1s 748us/step - loss: -72183224.0000 - accuracy: 0.7001
Epoch 113/150
682/682 [==============================] - 0s 726us/step - loss: -74007152.0000 - accuracy: 0.7001
Epoch 114/150
682/682 [==============================] - 1s 763us/step - loss: -75861184.0000 - accuracy: 0.7001
Epoch 115/150
682/682 [==============================] - 1s 739us/step - loss: -77743944.0000 - accuracy: 0.7001
Epoch 116/150
682/682 [==============================] - 1s 740us/step - loss: -79657752.0000 - accuracy: 0.7001
Epoch 117/150
682/682 [==============================] - 1s 734us/step - loss: -81603776.0000 - accuracy: 0.7001
Epoch 118/150
682/682 [==============================] - 1s 735us/step - loss: -83582784.0000 - accuracy: 0.7001
Epoch 119/150
682/682 [==============================] - 0s 730us/step - loss: -85590680.0000 - accuracy: 0.7001
Epoch 120/150
682/682 [==============================] - 1s 737us/step - loss: -87629568.0000 - accuracy: 0.7001
Epoch 121/150
682/682 [==============================] - 1s 736us/step - loss: -89702008.0000 - accuracy: 0.7001
Epoch 122/150
682/682 [==============================] - 1s 745us/step - loss: -91808816.0000 - accuracy: 0.7001
Epoch 123/150
682/682 [==============================] - 1s 750us/step - loss: -93947608.0000 - accuracy: 0.7001
Epoch 124/150
682/682 [==============================] - 1s 750us/step - loss: -96116328.0000 - accuracy: 0.7001
Epoch 125/150
682/682 [==============================] - 1s 761us/step - loss: -98315056.0000 - accuracy: 0.7001
Epoch 126/150
682/682 [==============================] - 1s 743us/step - loss: -100548984.0000 - accuracy: 0.7001
Epoch 127/150
682/682 [==============================] - 1s 735us/step - loss: -102816200.0000 - accuracy: 0.7001
Epoch 128/150
682/682 [==============================] - 1s 752us/step - loss: -105113888.0000 - accuracy: 0.7001
Epoch 129/150
682/682 [==============================] - 1s 754us/step - loss: -107446664.0000 - accuracy: 0.7001
Epoch 130/150
682/682 [==============================] - 1s 751us/step - loss: -109814160.0000 - accuracy: 0.7001
Epoch 131/150
682/682 [==============================] - 1s 751us/step - loss: -112214880.0000 - accuracy: 0.7001
Epoch 132/150
682/682 [==============================] - 1s 758us/step - loss: -114653264.0000 - accuracy: 0.7001
Epoch 133/150
682/682 [==============================] - 1s 749us/step - loss: -117126320.0000 - accuracy: 0.7001
Epoch 134/150
682/682 [==============================] - 1s 761us/step - loss: -119632960.0000 - accuracy: 0.7001
Epoch 135/150
682/682 [==============================] - 1s 747us/step - loss: -122177968.0000 - accuracy: 0.7001
Epoch 136/150
682/682 [==============================] - 1s 754us/step - loss: -124756040.0000 - accuracy: 0.7001
Epoch 137/150
682/682 [==============================] - 1s 758us/step - loss: -127371200.0000 - accuracy: 0.7001
Epoch 138/150
682/682 [==============================] - 1s 737us/step - loss: -130018840.0000 - accuracy: 0.7001
Epoch 139/150
682/682 [==============================] - 1s 744us/step - loss: -132701160.0000 - accuracy: 0.7001
Epoch 140/150
682/682 [==============================] - 1s 734us/step - loss: -135422736.0000 - accuracy: 0.7001
Epoch 141/150
682/682 [==============================] - 0s 733us/step - loss: -138182608.0000 - accuracy: 0.7001
Epoch 142/150
682/682 [==============================] - 1s 736us/step - loss: -140976848.0000 - accuracy: 0.7001
Epoch 143/150
682/682 [==============================] - 1s 738us/step - loss: -143808400.0000 - accuracy: 0.7001
Epoch 144/150
682/682 [==============================] - 1s 737us/step - loss: -146682208.0000 - accuracy: 0.7001
Epoch 145/150
682/682 [==============================] - 1s 758us/step - loss: -149593168.0000 - accuracy: 0.7001
Epoch 146/150
682/682 [==============================] - 1s 752us/step - loss: -152535728.0000 - accuracy: 0.7001
Epoch 147/150
682/682 [==============================] - 1s 750us/step - loss: -155515872.0000 - accuracy: 0.7001
Epoch 148/150
682/682 [==============================] - 1s 736us/step - loss: -158536784.0000 - accuracy: 0.7001
Epoch 149/150
682/682 [==============================] - 1s 755us/step - loss: -161593312.0000 - accuracy: 0.7001
Epoch 150/150
682/682 [==============================] - 1s 744us/step - loss: -164691456.0000 - accuracy: 0.7001

In [72]:
accuracy = model.evaluate(X_test, y_test)

1826/1826 [==============================] - 1s 578us/step - loss: -166136048.0000 - accuracy: 0.7035

In [73]:
predictions = model.predict_classes(X_test)

WARNING:tensorflow:From <ipython-input-73-bc83193b8b59>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [74]:
ann_score= accuracy_score(y_test, predictions)

In [75]:
ann_score

0.7034519365775145